{{ partial "header.html" . }}

<div class="container">
    <article class="post-container">
    <hr />
    <header class="post-header">
        {{ if .NextInSection }}
        <div class="next-chapter-link">
            <a href="{{ .NextInSection.Permalink }}">Previous File: {{ .NextInSection.Title }}</a>
        </div>
        {{ end }}
        <h2>Case File {{ .Params.timestamp }}</h2>
        <p class="post-description">{{ .Params.location }}</p>
    </header>
        {{ partial "page-content.html" . }}
    </article>
</div>

{{ if .PrevInSection }}
<div class="next-chapter-link">
<a href="{{ .PrevInSection.Permalink }}">Next File: {{ .PrevInSection.Title }}</a>
</div>
<hr />
{{ end }}

{{ partial "footer.html" . }}