{{ partial "header.html" . }}

<div class="container">
    <article class="post-container">
    <hr />
    <header class="post-header">
        {{ if .PrevInSection }}
        <a href="{{ .PrevInSection.Permalink }}">Previous File: {{ .PrevInSection.Title }}</a>
        <hr />
        {{ end }}
        <h2>Case File {{ .Params.timestamp }}</h2>
        <p class="post-description">{{ .Params.location }}</p>
    </header>
        {{ partial "page-content.html" . }}
    </article>
</div>

{{ if .NextInSection }}
<div class="next-chapter-link">
    <a href="{{ .NextInSection.Permalink }}">Next Chapter: {{ .NextInSection.Title }}</a>
</div>
{{ end }}

{{ partial "footer.html" . }}